<div class="container">
  <h3 mat-dialog-title class="modal-header">Are you sure?</h3>
  <div mat-dialog-content>
    <strong> First name:</strong> {{data.firstName}}
    <p></p>
    <strong>Last name:</strong>  {{data.lastName}}
    <p></p>
    <strong>gender:</strong> {{data.gender}}
    <p></p>
    <strong> Email address:</strong> {{data.email}}
    <p></p>
    <strong>Birth date:</strong> {{data.birthDate | date: 'dd/MM/yyyy'}}
    <p></p>
    <strong>Expected salary:</strong> {{data.expectedSalary}}
    <p></p>
  </div>

  <div mat-dialog-actions class="btn-wrapper">
    <button mat-raised-button [mat-dialog-close]="1">
      <mat-icon class = "button-color" aria-label="Example icon-button with a heart icon">delete</mat-icon>&nbsp;&nbsp;Delete</button>
    <button mat-raised-button (click)="cancel()" tabindex="-1">
      <mat-icon class = "button-color" aria-label="Example icon-button with a heart icon">cancel</mat-icon>&nbsp;&nbsp;Cancel</button>
  </div>
</div>
