<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li>
      <img src="assets/xoka.png"
      alt="Xoka">
    </li>

    <li class="nav-item">
      <a routerLink="home" id="home-page" class="nav-link" routerLinkActive="active">Home</a>
    </li>  

    <li class="nav-item">
        <a routerLink="employee" class="nav-link" routerLinkActive="active">Employee Information</a>
    </li>

    <li class="nav-item">
      <a routerLink="candidateInfo" id="candidate-page" class="nav-link" routerLinkActive="active">Candidate Information</a>
  </li>
  </ul>
</nav>

<div class="container" >
  <br>
  <!-- <h3 style="text-align: center; font-family: ui-serif;">{{title}}</h3> -->
  <!-- <hr> -->
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <h6 class="margin">All Rights Reserved 2023 @Xoka</h6>
  </div>
</footer>
